<p id="notice"><%= notice %></p>

<p>
  <strong>Usersent:</strong>
  <%= @message.userSent %>
</p>

<p>
  <strong>Userreceive:</strong>
  <%= @message.userReceive %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message.message %>
</p>

<p>
  <strong>Createdat:</strong>
  <%= @message.createdAt %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
