<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ticket.user_id %>
</p>

<p>
  <strong>Event name:</strong>
  <%= @ticket.event_name %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @ticket.event_date %>
</p>

<p>
  <strong>Event description:</strong>
  <%= @ticket.event_description %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
