<%- model_class = Offer -%>
<div class="page-header">
  <h1>Compra efetuada!</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @offer.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:event_name) %>:</strong></dt>
  <dd><%= @offer.event_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:event_date) %>:</strong></dt>
  <dd><%= @offer.event_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:event_description) %>:</strong></dt>
  <dd><%= @offer.event_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_active) %>:</strong></dt>
  <dd><%= @offer.is_active %></dd>
  <% if !@offer.is_auction %>
    <dt><strong>Seu saldo</strong></dt>
    <dd><%= current_user.balance %></dd>
  <% end %>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              offers_path, :class => 'btn btn-default'  %>