<h1>Listing offers</h1>
<div class="col-lg-3">
		<%= form_tag search_offers_path, {:method => :get, :class => "form-search pull-right" } do %>
        	<input name="name" type="text" class="search-query">
        	<button type="submit" class="btn">Buscar</button>
		<% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Event name</th>
      <th>Event date</th>
      <th>Event description</th>
      <th>Is active</th>
      <th>Starting price</th>
      <th>Actual price</th>
      <th>Expire date</th>
      <th>Is auction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.user_id %></td>
        <td><%= offer.event_name %></td>
        <td><%= offer.event_date %></td>
        <td><%= offer.event_description %></td>
        <td><%= offer.is_active %></td>
        <td><%= offer.starting_price %></td>
        <td><%= offer.actual_price %></td>
        <td><%= offer.expire_date %></td>
        <td><%= offer.is_auction %></td>
        <td><%= link_to "Comprar", buy_offer_path(offer), :class => 'btn btn-default' %></td>
        <td><%= link_to 'Show', offer %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
