<%= form_for(@bid_offer) do |f| %>
  <% if @bid_offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bid_offer.errors.count, "error") %> prohibited this bid_offer from being saved:</h2>

      <ul>
      <% @bid_offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.hidden_field :user_id %>

    <%= f.hidden_field :offer_id %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
